<app-menu></app-menu>
<div class="update-container">
    <h2>Modifier un Centre</h2>
    <form (ngSubmit)="updateCentre()">
        <div class="form-group">
            <label for="prenom">Nom du centre :</label>
            <input type="nom" id="nom" [(ngModel)]="centre.nom" name="nom" placeholder="Saisissez le nom du centre" required>
        </div>
        <div class="form-group">
            <label for="ville">Adresse du centre:</label>
            <div class="adresse-group">
                <input type="text" id="num" [(ngModel)]="adresse.zipCode" name="ZipCpde" placeholder="Saisissez le numéro de rue" required >
                <input type="text" id="rue" [(ngModel)]="adresse.rue" name="rue" placeholder="Saisissez le nom de rue" required>
            </div>
            <input type="text" id="ville" [(ngModel)]="adresse.ville" name="ville" placeholder="Ville" required>
        </div>
        <button type="submit">Enregistrer</button>
    </form>
</div>
