<app-menu></app-menu>
<div class="single-patient-container">
    <h2>Détails de la vaccination</h2>
    <div class="patient-card">
        <div class="patient-info">
            <div class="info-label">Patient :</div>
            <div class="info-value">{{ patient.prenom }} {{patient.nom}}</div>
        </div>
        <div class="patient-info">
            <div class="info-label">Médécin :</div>
            <div class="info-value">{{ medecin.prenom }} {{medecin.nom}}</div>
        </div>
        <div class="patient-info">
            <div class="info-label">Email:</div>
            <div class="info-value">{{ vaccination.centre }}</div>
        </div>
        <div class="patient-info">
            <div class="info-label">Date de réservation :</div>
            <div class="info-value">{{ vaccination.dateReservation | date:'short' }}</div>
        </div>
        <div class="patient-info">
            <div class="info-label">Date de réservation :</div>
            <div class="info-value">{{ vaccination.dateVaccination | date:'short' }}</div>
        </div>
        <div class="patient-info">
            <div class="info-label">Statut :</div>
            <div class="info-value">{{ vaccination.statutDossierPatient }}</div>
        </div>
    </div>
</div>
  