<div class="create-container">
    <H2>Créer un nouveau médécin</H2>
    <form>
        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="prenom" id="prenom" [(ngModel)]="prenom" name="prenom" placeholder="Saisissez votre prénom" required>
        </div>
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="nom" id="nom" [(ngModel)]="nom" name="nom" placeholder="Saisissez votre nom" required>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Saisissez votre email" required>
        </div>
        <div class="form-group">
            <label for="tel">Téléphone :</label>
            <input type="tel" id="tel" [(ngModel)]="tel" name="tel" placeholder="Saisissez votre numéro de téléphone" required>
        </div>
        <div class="form-group">
            <label for="centre">Centre hospitalier :</label>
            <select id="centre" [(ngModel)]="centre" name="centre" required>
                <option *ngFor="let centre of centres" [value]="centre" placeholder="Choisissez votre centre">{{ centre }}</option>
            </select>
        </div>
    </form>

</div>