/* Style de la barre de navigation */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none; /* Suppression des puces */
    margin: 0; /* Suppression des marges extérieures */
    padding: 0; 
  }
  
  /* Style des éléments de la liste */
  .navbar li {
    display: inline-block; /* Affichage en ligne avec espace */
    margin-right: 20px; /* Espacement entre les éléments */
  }
  
  /* Style des liens */
  .navbar a {
    text-decoration: none; /* Suppression du soulignement */
    color: #333; /* Couleur du texte */
    padding-bottom: 5px; /* Espacement sous le lien */
    border-bottom: 2px solid #333; 
    border-radius: 5px;
  }
  
  .navbar a:hover,
  .navbar a:focus {
    color: #3498db;
    border-bottom: 3px solid #3498db; /* Bordure inférieure sur survol/focus */
    transform: translateY(-2px); /* Déplacement vers le haut pour l'effet hover */
  }
  
  /* Style des liens actifs */
  .navbar a.active {
    border-bottom: 3px solid #3498db; /* Bordure inférieure pour le lien actif */
  }
  